
<!--  <form action="/monsters/<%#=@id%>" method="post">
 <input type="hidden" name="_method" value="put">

<div class="container result">
	<h1> Selecte a monster! </h1>
	<label>Monster Name:</label>
	  <select name="select" multiple>
	    <%# @monsters.each do |monster| %>
	      <option value= <%#="#{monster['id']}"%> selected> <%#="#{monster['name']}"%></option>
	    <%# end %>
	    <%#= token_tag form_authenticity_token %>
	  </select>

<p>
  <input type="submit" name="" value="Delete">
</p>
</form>
  -->
<div class="container result row">
	

	<div class="left">
		<h1> Delete this monster! </h1>
	    <form action="/monsters/<%=@id%>/remove" method="post">
	  <!--   <input type="hidden" name="_method" value="put"> -->
	        
	    <button type="submit" class="btn btn-danger" >Remove</button></td>
	    <%= token_tag form_authenticity_token %>
	    </form>
	</div>
	<div class="right">
	<img src="http://25.media.tumblr.com/tumblr_lqvconotOP1qjw75go1_500.gif" height="200px">
	</div>
</div>

<!-- 
<form action="/monsters/<%#=@monster.id%>" method="post">
	<input type="hidden" name="_method" value="put">
    <label> Name: </label> <input type="text" name="monster[name]" value="<%#= @monster.name %>"></p>
    <label> Type: </label> <input type="text" name="monster[monster_type]" value="<%#= @monster.monster_type %>"></p>
    <label> Description: </label><textarea name="monster[description]"><%#= @monster.description %></textarea></p>
    <%#= token_tag form_authenticity_token %>
    <!-- authenticity token is required -->
    <!-- <button> BOO! </button><br> -->
<!-- </form> --> 


