
<div class="container result row">
	

	<div class="left">
		<h1> Delete this monster! </h1>
	    <form action="/monsters/<%=@id%>/remove" method="post">
	  <!--   <input type="hidden" name="_method" value="put"> -->
	        
	    <button type="submit" class="btn btn-danger" >Remove</button></td>
	    <%= token_tag form_authenticity_token %>
	    </form>
	</div>
	<div class="right">
	<img src="http://25.media.tumblr.com/tumblr_lqvconotOP1qjw75go1_500.gif" height="200px">
	</div>
</div>


