<div class="container result">

<h1>Hello Monsters!</h1>

<% @monsters.each do |monster| %>
	<p class="lead">Name: <a href="/monsters/<%= monster[:id]%>"><%= monster[:name] %></a></p>
	<p class="lead">Type: <%= monster[:monster_type] %></p>
	<p class="lead">Description: <%= monster[:description] %></p><br>
<% end %>

</div>