/*stylesheets*/

body  {
	background-image: url("http://1.bp.blogspot.com/_dS9o2xQUbsU/TSIwd1fpDKI/AAAAAAAAE_M/WJzH8BqlEvI/s1600/Monsters%252C%2BInc._2.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 80px;
    display: block;
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
}

.navbar {
  display: block;
  float: left;
  padding: 0px 1s0px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #ecf0f1;
  background-color: #8e44ad;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar-inverse {
  border-color: none;
}


.navbar .divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-family: 'Sigmar One', cursive;
}


.navbar {
	margin-bottom: 10px;

}

.navbar_inner {
  	padding-right: 20px;
  	padding-left: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
/*	border: solid 1px black;*/
}

.result {
	/*padding: 20px 80px;*/
	background-color: rgba(236, 240, 241,0.9);
	border: none;
}

.container-search-page {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;

	/*border: solid 1px black;*/
}
.container-sm {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	/*border: solid 1px black;*/
}

.jumbotron {
	background-color: rgba(236, 240, 241,0.9);
}

.search {
	height: 300px;
	width: 500px;
	border: none;
}

#show {
	margin-left: 20px;
}

.dl-horizontal {
  *zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}

.dl-horizontal:after {
  clear: both;
}

.dl-horizontal dt {
  float: left;
  width: 100px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}

.dl-horizontal dd {
  margin-left: 110px;
  font-size: 15px;
}

ul {
	padding: 0px;
	margin: 0px;
}

ul li {
	background-image: url(sqpurple.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px; 
	padding-left: 14px; 
	list-style-type: none;
}

